.logoContainer {
  display: inline-flex;
  align-items: center;
  font-size: 1.75rem;
  font-weight: 800;
  user-select: none;
}

.forma {
  color: var(--accent-blue);
}

.play {
  display: inline-flex;
}

.p { color: var(--secondary); }
.l { color: var(--accent-blue); }
.a { color: var(--accent-green); }
.y { color: var(--accent-purple); }
